* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #3e3e3e;
  color: #3e3e3e;
  /* margin-top: 2rem; */
}
.cursor-disabled {
  cursor: not-allowed;
}
